#top
{
	font-size:50px ;
	margin-left:180px;
	font-family:  Arial;
	font-style: oblique ;
	color: red ;

}
#up
{
	font-size: 18px;
	color: orange ;
	margin-left: 500px;
	margin-top: 90px;
}
#up button
{
	height: 30px;
	width: 90px;
}

body{
	
	background-color: midnightblue ;
	font-size:14px ;
	font-family: Arial;
	text-align: left ;
}

.body
{
	width = 70% ;
}


.mainheader nav  {
	
	background-color: #FFA500;
height: 40px;
border-radius: 15px;
width: 1300px;
	margin-top: 35px;
margin-left: auto;
margin-right: auto;
}

.mainheader nav ul {
	font-size: 28px ;
	list-style: none ;
	margin: auto auto ;
	padding: auto auto ;
}

.mainheader nav ul li{
	float: left ;
	display: inline;	
}

.mainheader nav a:link {
	color:#FF;
	dispay:inline-block ;
	padding: 15px 75px ;
	text-decoration: none;
		
}


.mainheader nav a:hover,.mainheader nav a:active,
.mainheader nav .active a:link,.mainheader nav .active a:visited{
	
	background-color: blue ;

}

img
{
	width: 5%;
}

#cart
{
	border:1px solid;
	background-color: green;
	margin-top: -56px ;
	margin-left: 1210px ;
	height: 45px ;
	width: 50px ;
	
}


#sign
{
	
	border:1px solid;
	background-color: blue ;
	margin-top: -76px ;
	margin-left: 1100px ;
	height: 65px ;
	width: 100px ;
	
}



#sign ul li {
	display: none;
	
	width: auto ;
	list-style: none ;
	margin-left: -38px ;
	margin-top: -5px ;
	font-size: 12px;
	background-color: green;
}

#sign ul li a
{
	text-decoration: none;
}

#sign:hover ul li 
{
	font-size: 13px;
	display: block;
} 

#sign ul li button{
	width: 80px;
	height: 25px;
	margin-top: -2px;
}



#div1
{
	border:2px solid;
    color: white ;
	background-color: red ;
	margin-top: 46px ;
	margin-left: 50px ;
	
	
}
#div2
{
	border:2px solid;
	color: white ;
	background-color: red ; 
	margin-top: -385px ;
	margin-left: 390px ;

	
}
#div3
{
	border:2px solid;
    color: white ;
	background-color: red ;
	margin-top: -385px ;
	margin-left: 740px ;
	
}
#div4
{
	border:2px solid;
	color: white ;
	background-color: red ;
	margin-top: -385px ;
	margin-left: 1072px ;
}
#div5
{
	border:2px solid;
    color: white ;
	background-color: red ;
	margin-top: 60px ;
	margin-left: 50px ;
	
}
#div6
{
	border:2px solid;
    color: white ;
	background-color: red ;
	margin-top: -385px ;
	margin-left: 390px ;
}
#div7
{
	border:2px solid;
    color: white ;
	background-color: red ;
	margin-top: -385px ;
	margin-left: 740px ;
	
}
#div8
{
	border:2px solid;
	color: white ;
	background-color: red ;
	margin-top: -385px ;
	margin-left: 1072px ;
	
}
#div9
{
	border:2px solid;
	color: white ;
	background-color: red ;
	margin-top: 60px ;
	margin-left: 50px ;
}

#div10
{
	border:2px solid;
    color: white ;
	background-color: red ;
	margin-top: -385px ;
	margin-left: 390px ;
	
}
#div11
{
	border:2px solid;
    color: white ;
	background-color: red ;
	margin-top: -385px ;
	margin-left:  740px ;
}
#div12
{ 
	border:2px solid;
	color: white ;
	background-color: red ;
	margin-top: -385px ;
	margin-left: 1072px ;
	
	
}

div
{
	width: 240px ;
	height: 385px;
}
div img
{
	margin-left: px;
	width: 240px;
	height:287px;
}
div button
{
	margin-top:0px;
	 height:40px ;
	 width:240px;
	 margin-left:0px
}



#tbl
{
	padding-top: 40px ;
	align-content: center ;
	margin-left: 30%;
	margin-top: 10% ;
	border:1px solid ;
	color : green ;
}

